<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
  <% end %>
<% end %>

<%= form_with model: [:backoffice, product], method: :post do |form| %>

  <div class="mb-3">
    <%= form.label :category, class: "form-label" %>
    <%= form.collection_select :category, categories, :id, :name,
      { selected: categories.first } %>
  </div>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.collection_radio_buttons(:status, statuses, :first, :first,
      { checked: statuses.first }) do |status| %>
        <%= status.radio_button(class: "form-check-input") %>
        <%= status.label(class: "form-check-label mx-1") %>
      <% end %>
  </div>

  <%= form.submit %>

<% end %>